<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddModalLabel">Add contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="AddName">Name</label>
        <input type="text" maxlength="20" id="AddName" class="form-control" data-content="3-20 characters required." required >
        <label for="AddNumber">Number</label>
        <input type="text" pattern="\d*" maxlength="8" id="AddNumber" class="form-control" data-content="8 digits required." required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="FormAddButton" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>